<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>登录</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/signin.css" rel="stylesheet">
    <script src="static/js/jquery.min.js"></script>
</head>

<body class="text-center">
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">登录</h1>
        <label for="inputMobile" class="sr-only">手机号</label>
        <input type="text" id="inputMobile" class="form-control" placeholder="手机号" autocomplete="off" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="密码" required>
        <button id="submit" class="btn btn-lg btn-primary btn-block" type="button">登录</button>
    </form>
    <script>
        $(function() {
            $('#submit').on('click', function () {
                var mobile = $('#inputMobile').val();
                var password = $('#inputPassword').val();
                if (mobile && password) {
                    $.ajax({
                        url: '/login',
                        method: 'post',
                        data: {
                            mobile: mobile,
                            password: password
                        }
                    }).then(function (data) {
                        console.log(data);
                    });
                }
            })
        });
    </script>
</body>
</html>
